In [23]:
import pandas as pd
import numpy as np

In [24]:
df = pd.read_excel('ale.xlsx')

In [25]:
df

    A  B   C   D
0   1  1 NaN NaN
1   1  1 NaN NaN
2   1  1 NaN NaN
3   1  2 NaN NaN
4   1  2 NaN NaN
5   0  1 NaN NaN
6   0  3 NaN NaN
7   0  1 NaN NaN
8   0  2 NaN NaN
9   0  1 NaN NaN
10  1  0 NaN NaN
11  1  0 NaN NaN
12  1  0 NaN NaN

In [41]:
df.query('A==1 and B==2').value_counts('A')

A
1    2
dtype: int64

In [44]:
df = pd.read_excel('relcost.xlsx')

In [45]:
df

                ITEM_ID
0           AAC409PB001
1           AAC409WB001
2           AAC409WB001
3           AAC409WB001
4           AAC409WB001
...                 ...
12667  9434K10616101E02
12668     9438H10616E03
12669     9438H10616E03
12670  9438K10616101E01
12671   9438T10616019P1

[12672 rows x 1 columns]

In [46]:
df.drop_duplicates()

                 ITEM_ID
0            AAC409PB001
1            AAC409WB001
15       AE94.2_MIXING-U
21     AE94.3A_CCA_EST-U
54        AE94.3A_NABE-U
...                  ...
12666    9434H14201001P1
12667   9434K10616101E02
12668      9438H10616E03
12670   9438K10616101E01
12671    9438T10616019P1

[3925 rows x 1 columns]

In [47]:
df['Unici'] = df.drop_duplicates()

In [48]:
df

                ITEM_ID             Unici
0           AAC409PB001       AAC409PB001
1           AAC409WB001       AAC409WB001
2           AAC409WB001               NaN
3           AAC409WB001               NaN
4           AAC409WB001               NaN
...                 ...               ...
12667  9434K10616101E02  9434K10616101E02
12668     9438H10616E03     9438H10616E03
12669     9438H10616E03               NaN
12670  9438K10616101E01  9438K10616101E01
12671   9438T10616019P1   9438T10616019P1

[12672 rows x 2 columns]

In [50]:
df.to_excel('relcost.xlsx')

In [51]:
df = pd.read_excel('Posizioni di MBOM in ultima REV senza REL_COST.xlsx')

In [52]:
df.head()

,ITEM_ID,ITEM_REV,OBJECT_TYPE,ITEM_NAME,ITEM_STATO,ITEM_RELEASE_DATE,ITEM_OWNING_GROUP_REV,ITEM_OWNING_COMPANY_REV,ITEM_OWNING_USER_ID_REV,ITEM_OWNING_USER_NAME_REV,COMPONENT_ID,COMPONENT_ITEM_NAME,COMPONENT_STATUS,COMPONENT_OWNING_GROUP,COMPONENT_OWNING_COMPANY,COMPONENT_OWNING_USER_ID,COMPONENT_OWNING_USER_NAME,PSEQ_NO
0,AAC409PB001,1.0,AENMBOMPRevision,ASSIEME ROTORE,Released,2017-02-09 11:14:39,MFG_PROCESS_GENERATOR,AEN,80002088,Tripepi Francesco,FAB_200445,Lavoraz. mecc. kamojang,Released,MFG_PROCESS_GENERATOR,AEN,80002088,Tripepi Francesco,600
1,AAC409WB001,3.0,AENMBOMPRevision,ASSIEME ROTORE,Released,2019-06-06 08:33:43,MFG_PROCESS_GENERATOR,AEN,00003902,Patane Antonino,ENG_005076,CHIAVETTA POLO,Released,MFG_PROCESS_GENERATOR,AEN,sysauthor,sysauthor,1
2,AAC409WB001,3.0,AENMBOMPRevision,ASSIEME ROTORE,Released,2019-06-06 08:33:43,MFG_PROCESS_GENERATOR,AEN,00003902,Patane Antonino,ENG_005077,CHIAVETTA POLO,Released,MFG_PROCESS_GENERATOR,AEN,sysauthor,sysauthor,2
3,AAC409WB001,3.0,AENMBOMPRevision,ASSIEME ROTORE,Released,2019-06-06 08:33:43,MFG_PROCESS_GENERATOR,AEN,00003902,Patane Antonino,ENG_005975,PESO EQUILIBRATORE,Released,MFG_PROCESS_GENERATOR,AEN,sysauthor,sysauthor,3
4,AAC409WB001,3.0,AENMBOMPRevision,ASSIEME ROTORE,Released,2019-06-06 08:33:43,MFG_PROCESS_GENERATOR,AEN,00003902,Patane Antonino,ENG_006873,VITE SPECIALE M16,Released,MFG_PROCESS_GENERATOR,AEN,sysauthor,sysauthor,4

In [54]:
df.drop_duplicates('ITEM_ID').to_excel("Posizioni di MBOM in ultima REV senza REL_COST.xlsx")

In [55]:
df = pd.read_excel('Posizioni di MBOM in ultima REV senza REL_COST_Unique.xlsx')

In [56]:
df.head()

,Unnamed: 0,ITEM_ID,ITEM_REV,OBJECT_TYPE,ITEM_NAME,ITEM_STATO,ITEM_RELEASE_DATE,ITEM_OWNING_GROUP_REV,ITEM_OWNING_COMPANY_REV,ITEM_OWNING_USER_ID_REV,ITEM_OWNING_USER_NAME_REV,COMPONENT_ID,COMPONENT_ITEM_NAME,COMPONENT_STATUS,COMPONENT_OWNING_GROUP,COMPONENT_OWNING_COMPANY,COMPONENT_OWNING_USER_ID,COMPONENT_OWNING_USER_NAME,PSEQ_NO
0,0,AAC409PB001,1.0,AENMBOMPRevision,ASSIEME ROTORE,Released,2017-02-09 11:14:39,MFG_PROCESS_GENERATOR,AEN,80002088,Tripepi Francesco,FAB_200445,Lavoraz. mecc. kamojang,Released,MFG_PROCESS_GENERATOR,AEN,80002088,Tripepi Francesco,600
1,1,AAC409WB001,3.0,AENMBOMPRevision,ASSIEME ROTORE,Released,2019-06-06 08:33:43,MFG_PROCESS_GENERATOR,AEN,00003902,Patane Antonino,ENG_005076,CHIAVETTA POLO,Released,MFG_PROCESS_GENERATOR,AEN,sysauthor,sysauthor,1
2,15,AE94.2_MIXING-U,0.0,AENMBOMPRevision,Mixing Chamber 94.2 - Usable,Released,2020-04-22 10:06:30,MFG_PROCESS_TURBINE,AEN,00005894,Giannoni Fulvio,9424T10540010P1,PLATE,Released,MFG_PROCESS_TURBINE,AEN,importer,Importer,6
3,21,AE94.3A_CCA_EST-U,2.0,AENMBOMPRevision,CCA Esterna 94.3A - Usable,Released,2022-03-11 07:09:58,MFG_PROCESS_TURBINE,AEN,00004228,Vella Alessandro,9020N10420004P2,L' RING OUTER (MACH.+COATING),Released,MFG_PROCESS_TURBINE,AEN,importer,Importer,4
4,54,AE94.3A_NABE-U,2.0,AENMBOMPRevision,Nabe 94.3A - Usable,Released,2022-03-11 07:09:58,MFG_PROCESS_TURBINE,AEN,00004228,Vella Alessandro,9020N10410003P2,L RING (INNER) (MACH.+COATING),Released,MFG_PROCESS_TURBINE,AEN,importer,Importer,3

In [61]:
df[df['ITEM_ID'].str.contains('KIT')].to_excel('Posizioni di MBOM in ultima REV senza REL_COST_Unique_KIT.xlsx')